<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         bootstrap="tests/lightweight.bootstrap.inc.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
	
	<!-- PHPUnit Test Suites -->
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	
	<logging>
		<log type="coverage-text" target="php://stdout" showOnlySummary="true" />
	</logging>
	
	<!-- PHPUnit filter for code coverage -->
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>


</phpunit>
